// - - - - - - - - - - - - - - - - - -

// Blog

// - - - - - - - - - - - - - - - - - -

.blog {
	padding: 0 $grid-spacing/2;
}

.blog-post {
	margin-bottom: 2.5em;
}

.blog-post__link {
	position: relative;
	display: block;

	@include mq(tabletl) {
		border-bottom:none;

		&:hover {

			.blog-post__content {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.blog-post__image {
	width: 100%;
}

.blog-post__title {
	color: $text-dark-color;
	font-size: $grid-item-title-small;
	font-weight: $grid-item-title-weight;
	letter-spacing: $grid-item-title-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-large;
	}
}

.blog-post__subtitle {
	margin-top: 5px;
	color: $text-medium-color;
	font-size: $grid-item-subtitle-small;
	font-weight: 300;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}

.pagination {

}

.pagination__prev {
	float: left;
	margin-right: 10px;
}

.pagination__next {
	float: left;
}
